<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novel Covid-19 Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <link rel="stylesheet" href="/css/screening_index.css">
</head>
<body>
    <div >
        <ul>
          <li><a class="HOME" href="/">HOME</a></li>
          <li><a class="NEWS" href="/news" >NEWS</a></li>
          <li><a class="CHAT" href="/chat">CHAT</a></li>
          <li><a class="MAP" href="/map">MAP</a></li>
          <li><a class="SCREENING" href="/screening">SCREENING</a></li>
        </ul>
    </div>
    <div class="center">
        <% datas.forEach(function(data){  %>
            <h1 class='countryname' > <%= data.country %> </h1>
            <img src=<%= data.countryInfo.flag %> alt="data.country">
            <div class="cases">
                <h3 class='text-warning' >Total Cases: <%= data.cases %></h3>
                <h3 class='text-danger' >Total Deaths: <%= data.deaths %></h3>
                <h3 class='text-success' >Total Recovered: <%= data.recovered %></h3>
            </div>
      <%  });   %>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>